<style>
    .highlighted-row td {
        background: green;
    }
</style>

{% include 'main/library_users.html' with library_users=library_users %}

<script type="text/javascript">

$(document).ready(function() {

    var usersTable = $("#users-table");
    var usersTableCells = $("tr td", usersTable);

    usersTableCells.on("click", function(event) {

        event.preventDefault();
        event.stopPropagation();

        var highlightedRow =  $("tr.highlighted-row", usersTable);
        var targetRow = $(event.target).closest("tr");
        
        // remove existing highlighted row if it exists and any existing checkout book widget
        if (highlightedRow) {
            highlightedRow.removeClass("highlighted-row");
            removeCheckoutBookWidget('#checkout_widget_parent');
        }

        // if existing highlighted row is not equivalent to currently selected row, highlight; otherwise highlight
        if (highlightedRow.data("uid") != targetRow.data("uid")) {
            targetRow.addClass("highlighted-row");
            getCheckoutBookWidget('#checkout_widget_parent', targetRow.data("uid"));
        }        
    })

    var delegateAnchor = $('#checkout_widget_parent');
    
    // on checkout book form submit button click, submit form
    delegateAnchor.on("click", "#formCheckoutBook input[type=button]", function(event) {

        event.preventDefault();
        event.stopPropagation();

        var formCheckoutBook = $("#formCheckoutBook");        
        submitCheckoutBookRequest('#checkout_widget_parent', formCheckoutBook)
    })
        

    function getCheckoutBookWidget(parentElement, libraryUserID) {
        
        $.ajax({
            url: '{% url "checkout_book_widget" uid=0 %}'.replace('0', libraryUserID),
            method: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // default contenttype
            success: function(response) {
                success_message_holder = $("#success-message");
                success_message_holder.html("");
                $(parentElement).html(response);
            },
            error: function(error) {
                alert("There was an error");
            }
        })
    }

    function removeCheckoutBookWidget(parentElement) {

        success_message_holder = $("#success-message");
        success_message_holder.html("");
        $(parentElement).html("");        

    }

    function submitCheckoutBookRequest(parentElement, formElement) {

        var formData = serializeForm(formElement);
        var libraryUserID = getSerializedFormValue(formData, "library_user_id");
        var transaction_ref = $("#id_transaction_ref").val();
        var book = $("#id_book").val();
        var csrf = getSerializedFormValue(formData, "csrfmiddlewaretoken");
        
        $.ajax({
            url: '{% url "checkout_book_widget" uid=0 %}'.replace('0', libraryUserID),
            method: 'POST',
            data: { transaction_ref: transaction_ref, book: book, csrfmiddlewaretoken: csrf },
            success: function(response) {
                
                $(".errorlist").remove();
                clearForm($("#formCheckoutBook"));                

                // formElement.trigger("reset"); works to set form values to default (not necessary to be "") 
                // e.g. submitting valid input after erroneous input, using reset will set default values to previous erroneous values                                                 

                success_message_holder = $("#success-message");
                success_message_holder.html("<p id='messages'>" + response['success-message'] + "</p>");

            },
            error: function(response) {   
                $(parentElement).html(response.responseJSON['invalid_form']);
            }
        })
    }
    
    //TODO: to shift functions below to main javascript file

    // to convert array of key-value pairs from form into object of key-value pairs e.g. [{key: value}, {key: value}] to {key: value, key: value}
    function serializeForm(htmlElement) {        
        var formValues = {};
        $.each(htmlElement.serializeArray(), function (i, field) {
            formValues[field.name] = field.value;
        });

        return formValues
    }

    // to get value from key from serialized object outputted by serializeForm
    function getSerializedFormValue(values, valueName) {
        return values[valueName]
    }

    function clearForm($form)
    {
        $form.find(':input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('');
        $form.find(':checkbox, :radio').prop('checked', false);
    }
});

</script>
