<!-- sticky right-aligned footer reference:
    https://stackoverflow.com/questions/40853952/bootstrap-footer-at-the-bottom-of-the-page/40854221: sticky footer 
    https://stackoverflow.com/questions/18672452/left-align-and-right-align-within-div-in-bootstrap: right-alignment of footer
 -->

<footer class="d-flex justify-content-between mt-auto pt-2 pr-2"> 
    <div class="align-left">

    </div>
    <div class="align-right small">
        &copy; 2019 My Library Management System
    </div>
</footer>