<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-books-on-loan">
			  	<div class="card-header">
			  		<h5 class="card-title">Books On Loan</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">20</h3> <!-- {{total_books_on_loan}} -->
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="books-not-yet-overdue">
			  	<div class="card-header">
			  		<h5 class="card-title">Books Not Overdue</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">15</h3> <!--{{books_not_yet_overdue}}-->
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="books-overdue">
			  	<div class="card-header">
			  		<h5 class="card-title">Books Due</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">10</h3> <!-- {{books_due}} -->
			  	</div>
			</div>
		</div>
	</div>
</div>